<section id="top">
<div id="menu">
  <a id="toggle" href="#">
    <i class="icon-menu"></i>
  </a>
  <ul>
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#getting-started">Getting Started</a></li>
    <li><a href="#tutorial">Tutorial</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#requests">Requests</a></li>
    <li><a href="#realtime">Realtime Services</a></li>
    <li><a href="#user">Signed in User</a></li>
    <li><a href="#configurations">Configurations</a></li>
    <li><a href="#links">Links</a></li>
  </ul>
</div>
<div id="heading">
  <div id="logo">
    <oauth
      site="http://oauth-ng-server.herokuapp.com"
      client-id="e7f9117f01eec388469150b2cf7d33c6cc94d330be4b20b4e1aebf2588c38fc8"
      redirect-uri="http://oauth-ng-demo.herokuapp.com"
      profile-uri="http://oauth-ng-server.herokuapp.com/api/v1/me"
      scope="public">
    </oauth>

    <div class="token" ng-if="accessToken">
      with access token {{accessToken}}
    </div>
  </div>
  <div id="tagline">
    <p>
    Demo for <a href="andreareginato.github.io/oauth-ng">oauth-ng</a>, AngularJS directive for OAuth 2.0
    </p>
    <p>
    Click to the sign in link above, login with the demo credentials and authorize<br>
    the application to get the authorized user and the access token.
    </p>
  </div>
</div>
</section>
